<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UID DOB Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
     <!-- Scrolling disclaimer -->
     <div class="disclaimer">
      <p>
          ⚠️ This is an open-source utility tool. Please use it responsibly. The developer does not hold any liability for misuse, data loss, or unintended consequences.

      </p>
  </div>
    <div class="container">
        <h1>UID DOB Checker</h1>
        <form id="uidForm" method="POST" action="/">
            <label for="uid">Enter UID:</label>
            <input type="text" name="uid" id="uid" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Overlay for loading animation -->
    <div class="overlay" id="loadingOverlay">
        <div class="overlay-content">
            <div class="loader"></div>
            <p>Fetching credentials...</p>
        </div>
    </div>

    

    <script>
        // Show the loading spinner when form is submitted
        const form = document.getElementById('uidForm');
        const loadingOverlay = document.getElementById('loadingOverlay');

        form.addEventListener('submit', function() {
            loadingOverlay.style.display = 'flex'; // Show the loading overlay
        });
    </script>
</body>
</html>
